@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
body{
    background-image: linear-gradient(rgb(212, 188, 218), rgb(219, 163, 196));
    border: 0.5ch;
    border-style: dotted dashed solid double;
    font-family: 'Anonymous Pro', monospace;
    color: darkorchid;
    text-align: center;
}
#text1{
    background-color: lightblue;
}
a {
    color: darkorchid;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }
.typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
#text{
    color: darkorchid;
}
div {
    border: 5px solid darkorchid;
    padding: 0.01px;
    margin: 0.01px;
  }
h1{
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Anonymous Pro', monospace;
  font-size: 6rem;
  background: linear-gradient(to right, #ef5350, #f48fb1, darkorchid);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#h{
    color: #f48fb1;
    text-decoration: wavy underline blueviolet;
    text-decoration: wavy overline blueviolet;
}
p{
    color: darkorchid;
    font-family:'Anonymous Pro', monospace;
    border-bottom: #f48fb1;
    border-top: #ef3550;
}
#box1{
    width: 200px;
    background-color: lightpink;
    display:inline-block
}
#box2{
    width: 300px;
    background-color: lightyellow;
    display: inline-block;

}
#box3{
    width: 300px;
    background-color: lightblue;
    display: inline-block;
}
#box4{
    width: 300px;
    background-color: lightgreen;
    display: inline-block;

}
img {
    height: 200px;
    width: 200px;
  }