@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
body{
    background-image: linear-gradient(rgb(224, 144, 241), rgb(32, 169, 179));
    border: 0.5ch;
    border-style: dotted dashed solid double;

    font: fantasy;
    color: rgb(107, 37, 145);
    text-align: center;
}
#welcome{
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; 
}
.toolbar {
  background-color: rgb(243, 243, 131);
  overflow: hidden;
}
#main{
  color: rgb(92, 24, 92);
}

/* Style the links inside the navigation bar */
.toolbar a {
  float: left;
  color: rgb(224, 125, 224);
  text-align: center;
  padding: 13px 15px;
  text-decoration:rgb(163, 71, 163);
  font-size: 18px;
}

/* Change the color of links on hover */
.toolbar a:hover {
  background-color: rgb(160, 224, 205);
  color: black;
}
.container {
  position: relative;
  text-align: center;
  color: rgb(231, 114, 221);
  height:250px;
  width: 220px;

}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Add a color to the active/current link */
.toolbar a.active {
  background-color: lightcoral;
  color: white;
}
#text1{
    background-color: lightblue;
}
a {
    position: relative;
}
a:hover {
    top: -2px;
}
a {
    color: darkmagenta;
    padding: 1em 1.5em;
    text-decoration: none;
  }
  #dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  #hobbies{
      font-size: 1.2rem;
      color: rgb(99, 19, 116);
  }
#mid{
  text-align: center;
}
  
#typewriter{
    overflow: hidden;
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    text-decoration: wavy overline rgb(58, 14, 99);
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
      text-decoration: wavy underline rgb(58, 14, 99);
      text-decoration: wavy overline rgb(70, 43, 226);
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  #rainbow{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Anonymous Pro', monospace;
    font-size: 3rem;
    background: linear-gradient(to right, #ef5350, #f48fb1, darkorchid, rgb(42, 19, 172),
    lightblue, green, yellow, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
#text{
    color: rgb(59, 16, 80);
}
div {
    border: 5px solid rgb(235, 154, 204);
    padding: 0.01px;
    margin: 0.01px;
  }
h1{
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Anonymous Pro', monospace;
  font-size: 6rem;
  background: linear-gradient(to right, #ef5350, #f48fb1, darkorchid);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#h{
    color: #f48fb1;
    text-decoration: wavy underline blueviolet;
    text-decoration: wavy overline blueviolet;
}
p{
    color: darkorchid;
    font-family:'Anonymous Pro', monospace;
    border-bottom: #f48fb1;
    border-top: #ef3550;
}
#box1{
    width: 250px;
    background-color: lightpink;
    display:inline-block
}
#box2{
    width: 250px;
    background-color: rgb(230, 230, 98);
    display: inline-block;

}
#box3{
    width: 250px;
    background-color: lightblue;
    display: inline-block;
}
#box4{
    width: 250px;
    background-color: lightgreen;
    display: inline-block;

}
#boxt{
  width: 90px;
  height:90px;
  background-color: lightgreen;
  display: inline-block;

}

#boxcheck{
    width: 700px;
    background-color: rgb(163, 214, 210);
    display: inline-block;
}
#boxcheckblue{
    width: 700px;
    background-color: lightblue;
    display: inline-block;
}
#boxcheckpink{
    width: 600px;
    background-color: rgb(243, 170, 215);
    display: inline-block;
    font: fantasy;
}
#boxcheckgreen{
    width: 700px;
    background-color: lightgreen;
    display: inline-block;
}
img {
    height: 200px;
    width: 150px;
  }
  #icon{
    height: 20px;
    width: 20px;
  }
  #iconi{
    height: 25px;
    width: 25px;
  }
  #boxinfo{
    width: 250px;
    background-color: rgb(174, 175, 223);
    display:inline-block;
    height: 160px;
  }
  #avatar{
    height:250px;
    width: 220px;
  }
  #boxsize{
    height:250px;
    width: 220px;
    background-color: aquamarine;
  }
  #self{
    height: 80px;
    width: 80px;

  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
  }